body {
  margin: 0;
  overscroll-behavior: none;
  touch-action: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

#map-root {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  cursor: grab;
}

#map-root > canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
