body {
  margin: 0;
  overscroll-behavior: none;
  touch-action: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

#map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  cursor: grab;
}
